<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programmer.tbeacloudbusiness">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 向SD卡中创建或者删除的权限。 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--百度地图-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2F0QiqoWoGmYOlkhrqBTfGs9sQ9SEwiN" />

        <activity android:name=".activity.user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">

        </activity>

        <activity android:name=".activity.franchisee.scanCode.ScanCodeMainListActivity" />

        <activity android:name=".activity.franchisee.scanCode.ScanCodeCreateSelectActivity" />
        <activity android:name=".activity.publicUse.activity.PictureShowActivity" />

        <activity android:name=".activity.franchisee.scanCode.ScanCodeTypeSelectActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeCreateSucceedActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeNormsSelectActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeCreateActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeHistoryListActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeStateListActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeViewActivity" />
        <activity android:name=".activity.franchisee.scanCode.WithdrawDepositDateActivity" />
        <activity android:name=".activity.franchisee.scanCode.DateSelectActivity" />
        <activity android:name=".activity.franchisee.scanCode.WithdrawDepositDateInfoActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeRebateListActivity" />
        <activity android:name=".activity.franchisee.scanCode.WithdrawDepositDateHistoryActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageMainListActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageScanCodeDateListActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageSignHistoryListActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageLoginDatailsActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageLoginStatisticsActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManagePersonViewActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PersonManageViewActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageWithdrawalHistoryListActivity" />
        <activity android:name=".activity.franchisee.plumberManage.activity.PlumberManageWithdrawalHistoryViewActivity" />

        <activity android:name=".activity.franchisee.plumberMeeting.activity.PlumberMeetingMainListActivity" />
        <activity android:name=".activity.franchisee.plumberMeeting.activity.PlumberMeetingListAllActivity" />
        <activity android:name=".activity.franchisee.plumberMeeting.activity.PlumberMeetingViewActivity" />
        <activity android:name=".activity.franchisee.plumberMeeting.activity.PlumberMeetingParticipantListActivity" />
        <activity android:name=".activity.franchisee.plumberMeeting.activity.PlumberMeetingSignInListActivity" />

        <activity android:name=".activity.user.RegisterActivity" />
        <activity android:name=".activity.user.CompletionDataActivity" />
        <activity android:name=".activity.user.RegisterSuccessActivity" />
        <activity android:name=".activity.user.RealNameAuthenticationActivity" />
        <activity android:name=".activity.user.ForgetPwdPhoneActivity" />
        <activity android:name=".activity.user.ForgetPwdEditActivity" />
        <activity android:name=".activity.my.main.activity.PersonInfoActivity" />

        <activity android:name=".activity.tbea.activity.CompanyIntroActivity" />
        <activity android:name=".activity.tbea.activity.ProductPresentationListActivity" />
        <activity android:name=".activity.tbea.activity.ProductPresentationInfoActivity" />
        <activity android:name=".activity.tbea.activity.ProductPresentationContactInfoActivity" />

        <activity android:name=".activity.my.main.activity.SetActivity" />
        <activity android:name=".activity.my.set.activity.BindingNewPhoneActivity" />
        <activity android:name=".activity.my.set.activity.EditBindingPhoneActivity" />
        <activity android:name=".activity.my.set.activity.BindingNewPhoneFinishActivity" />
        <activity android:name=".activity.my.set.activity.PwdEditActivity" />
        <activity android:name=".activity.my.set.activity.PwdEditSucceedActivity" />
        <activity android:name=".activity.my.set.activity.AddressEditActivity" />
        <activity android:name=".activity.my.set.activity.AddressEditListActivity" />
        <activity android:name=".activity.my.set.activity.SetBackgroundActivity" />
        <activity android:name=".activity.my.set.activity.GeneralActivity" />
        <activity android:name=".activity.my.main.activity.RealNameAuthenticationPlumberActivity" />
        <activity android:name=".activity.my.main.activity.RealNameAuthenticationDistributorActivity" />
        <activity android:name=".activity.my.main.activity.MyAttentionActivity" />
        <activity android:name=".activity.my.main.activity.MyFansActivity" />
        <activity android:name=".activity.my.main.activity.BypassAccountManageListActivity" />
        <activity android:name=".activity.my.main.activity.BypassAccountManageEditActivity" />
        <activity android:name=".activity.my.main.activity.ByPassAccountAuthorizationFunctionsActivity" />
        <activity android:name=".activity.administrator.realNameAuthentication.MemberListActivity" />
        <activity android:name=".activity.administrator.realNameAuthentication.PersonalDataActivity" />

        <activity android:name=".activity.franchisee.scan.activity.ScanCodeAcctivity" />
        <activity android:name=".activity.franchisee.scan.activity.CodeBraceActivity" />
        <activity android:name=".activity.franchisee.scan.activity.ScanCodeInputActivity" />
        <activity android:name=".activity.franchisee.scan.activity.ScanCodePayConfirmActivity" />
        <activity android:name=".activity.franchisee.scan.activity.ScanCodePaySucceedActivity" />

        <activity android:name=".activity.franchisee.storeManage.activity.StoreManageMainActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.StoreSetActtivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.RotateADListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.RotateADEditActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.RotateADLinkPageListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.StoreCodeActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.StoreIntroduceActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.SpecificationsAndModelsListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.StoreCommodityManageAddActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.order.OrderManageDeliverGoodsActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.StoreCommodityManageListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.ShopDynamicListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.ShopDynamicAddActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.SetVisualGraphActivity" />

        <activity android:name=".activity.distributor.rebateAccount.activity.MyRebateAccountlistActivity" />
        <activity android:name=".activity.distributor.rebateAccount.activity.RebateAccountWithdrawCashActivity" />
        <activity android:name=".activity.distributor.rebateAccount.activity.WithdrawCashViewActivity" />
        <activity android:name=".activity.distributor.scanCode.activity.DbScanCodeMainListActivity" />
        <activity android:name=".activity.distributor.scanCode.activity.DbWithdrawDepositDateActivity" />
        <activity android:name=".activity.distributor.scanCode.activity.DbScanCodeRebateListActivity" />
        <activity android:name=".activity.distributor.scanCode.activity.DbWithdrawDepositDateHistoryActivity" />

        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.PlumberMeetingListActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.FranchiserSelectListActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingPreparePlanActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingSponsorSuccessActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingPrepareActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.CpDateSelectActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.AddrSelectActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.ParticipantSelectActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.ParticipantSelectAllActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingViewActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingViewUpdateActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingPrepareSummaryActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingGalleryListActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingGalleryUploadActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.MeetingGalleryImageShowActivity" />
        <activity android:name=".activity.companyPersonnel.plumberManage.activity.DranchiseeSeleteActivity" />
        <activity android:name=".activity.user.AffiliationSelectListActivity" />
        <activity android:name=".activity.franchisee.plumberMeeting.activity.RegionSelectActivity" />
        <activity android:name=".activity.franchisee.plumberMeeting.activity.PlumberMeetingViewSignlnActivity" />
        <activity android:name=".activity.publicUse.activity.HistorySearchActivity" />
        <activity android:name=".activity.publicUse.activity.HistorySearchListActivity" />
        <activity android:name=".activity.publicUse.activity.WebViewActivity" />
        <activity android:name=".activity.tbea.activity.NewsIntroActivity" />

        <activity android:name=".activity.distributionSystem.activity.FxMainActivity" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxGgXQ" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxFHMX" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxFL" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxGG" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxHKLB" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxHKMX" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxKcQuery" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxKcQueryResult" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxLXWM" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxOrder" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxOrderDHMX" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxOrderFYMX" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxOrderQuery" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxTSFB" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxTSLB" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxTSXQ" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZD" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZdjgQuery" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxd" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxdKFTjCX" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxdKFTjCxJG" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxdTj" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxdTjCX" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxdTjCxJG" />
        <activity android:name=".activity.distributionSystem.activity.ActivityFxZxxdTjTj" />
        <activity android:name=".activity.distributionSystem.activity.ActivityUserInfoChang6" />
        <activity android:name=".activity.my.main.activity.MessageTypeListActivity" />
        <activity android:name=".activity.my.main.activity.MessageListActivity" />
        <activity android:name=".activity.my.main.activity.MessageViewActivity" />

        <activity android:name=".activity.franchisee.storeManage.activity.set.RotateADEditSucceedActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.SpecificationsAndModelsEditActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.MarketInfoActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.MarketInfoBeRateActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.MarketInfoBeRateInfoActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.MarketInfoBeRateInfoReplyActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.MarketInfoBeSoldActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.CommoditySalesListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.CommoditySalesInfoActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.commodityManage.SaleWaterListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.set.SpecificationsAndModelsSelectListActivity" />
        <activity android:name=".activity.franchisee.scanCode.ScanCodeCreateInfoActivity" />
        <activity android:name=".activity.franchisee.scanCode.CommdityListSelectActivity" />

        <activity android:name=".activity.distributorManage.activity.DistributorListActivity" />
        <activity android:name=".activity.distributorManage.activity.DustributorWithdrawalHistoryListActivity" />
        <activity android:name=".activity.franchisee.storeManage.activity.order.OrderListActivity" />
        <activity android:name="com.example.programmer.tbeacloudbusiness.activity.franchisee.tbws.activity.SendOrdersPersonSelectActivity" />
        <activity android:name=".activity.franchisee.tbws.activity.MyTaskListActivity" />
        <activity android:name=".activity.franchisee.tbws.activity.PendingViewActivity" />
        <activity android:name=".activity.publicUse.activity.SuccessActivity" />
        <activity android:name=".activity.franchisee.tbws.activity.ServiceHaveAssignViewActivity" />
        <activity android:name=".activity.publicUse.activity.NetWebViewActivity" />
        <activity android:name=".activity.my.main.activity.ServiceCenterActivity" />
        <activity android:name=".activity.my.main.activity.RealNameAuthenticationFailActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.FranchiserSelectViewListActivity" />
        <activity android:name=".activity.companyPersonnel.plumberMeeting.activity.SignInCodeActivity" />
    </application>

</manifest>